.navbar-default {
     background-color: rgba(0, 0, 0, 0.13) !important; 
}

@media (max-width: 768px) {
    .navbar-default {
        background-color: rgba(0, 0, 0, 0.8) !important;
    }
}



.navbar-default .navbar-brand {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #E27807;
}

.navbar-default.navbar-shrink {
   background-color: rgba(0, 0, 0, 0.3) !important;
}

#about-description {
    margin-bottom: 150px !important;
}

#contact p a {
    font-size: 18px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

header {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header-bg.jpg);
}

.navbar-default .navbar-brand {
    font-size: 2em !important;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
    outline: 0;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
    color: #F78D1C;
}

.text-primary {
    color: #888;    
}

.ua-icon {
    background-image: url(../img/ua.jpg);
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.lads-icon {
    background-image: url(../img/lads.png);
    background-size: 100%;
    width: 100%;
    height: 99%;
}

.tssa-icon {
    background-image: url(../img/tssa.png);
    background-size: 100%;
    width: 100%;
    height: 99%;
}